# Ignore everything
*

!src/
!src/*
!src/materials
!src/materials/*

!test_objs/
!test_objs/*
.DS_Store

!example_scenes/
!example_scenes/*

!example_scenes/scene_files/*
!example_scenes/scene_images/*

!.gitignore
!Makefile
!README.md