# Ignore everything
*

!src/
!src/*
!src/*/*

.DS_Store

!example_scenes/
!example_scenes/*

!example_scenes/scene_files/*
!example_scenes/scene_images/*

!.gitignore
!Makefile
!README.md
!Benchmarks.md
!FileFormat.md